/* Цвет основного текста #212121 */
/* Вторичный цвет текста #757575 */
/* Белый цвет #FFFFFF */
/* Акцент #2196F3 */
/* Цвет для контактной информации rgba(255, 255, 255, 0.6); */
/* Первичный цвет фона #FFFFFF */
/* Вторичный цвет фона #2F303A */
/* Третьичный цвет фона #F5F4FA */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --primary-white-color: #ffffff;
  --primaty-icon-color: #afb1b8;
  --primary-bg-icon: #44454e;
  --button-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}
/* Утилиты */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p {
  margin: 0;
}
a {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка сайта */

.site {
  background-color: var(--primary-white-color);
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 93px;
}
.blue {
  color: var(--accent-color);
}
.white {
  color: var(--primary-white-color);
}

/* Навигация */

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
button {
  font-family: inherit;
}

/* Контакты */

.contacts {
  display: flex;
  align-items: center;
}

.contacts .item + .item {
  margin-left: 50px;
}

.flex-nav {
  display: flex;
  align-items: baseline;
}
.main {
  display: flex;
  align-items: center;
}

.margin {
  margin-left: auto;
}

.contacts .link {
  color: var(--secondary-text-color);

  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* Шапка сайта конец */
/* Bg */
.bg-title {
  color: var(--primary-white-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;

  margin-top: 0px;
  margin-bottom: 30px;
}
.bg {
  background-color: #2f303a;

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
}

/* Overlay */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/overlay.jpg);
}
/* Button */
.primary-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;

  padding: 10px 32px;
  min-width: 200px;
  border-color: transparent;
  cursor: pointer;
}

/* Секция особенности */
.peculiarities-list {
  display: flex;
  align-items: center;
}

.peculiarities-item {
  margin-right: 30px;
  width: 270px;
}
.peculiarities-item:last-child {
  margin-right: 0;
}

.peculiarities-title {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 10px;
}

.peculiarities-text {
  color: var(--secondary-text-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 0px;
}
/* Секция чем мы занимаемся */
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title > .item + .item {
  margin-left: 30px;
}

.work-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
}
/* Секция наша команда */
.team-title {
  color: var(--primary-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
}
.leader-title {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--secondary-text-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.leader-title > .item {
  text-align: center;
  margin-right: 30px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.leader-title > .item:last-child {
  margin-right: 0;
}
.team {
  background-color: #f5f4fa;

  padding-top: 94px;
  padding-bottom: 94px;
}
.team-your {
  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0;
  margin-bottom: 50px;
}
.team-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Секция клиенты */
.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-link {
  color: var(--primaty-icon-color);
  border: 1px solid var(--primaty-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.clients-icon {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
/* Футер */

.logo-second {
  color: #000000;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.foot {
  background-color: #2f303a;

  padding-top: 60px;
  padding-bottom: 60px;
}
.foot-title {
  color: var(--primary-white-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  margin-top: 20px;
  margin-bottom: 9px;
}

.colour {
  color: var(--contact-color);

  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.colour .link:hover,
.colour .link:focus {
  color: var(--accent-color);
}
.colour .link {
  color: var(--contact-color);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.colour > .link {
  margin-bottom: 9px;
}
.colour > .link:last-child {
  margin-bottom: 0;
}
.footer-container {
  align-items: baseline;
  display: flex;
}
/* Присоединяйтесь */
.follow {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
/* SVG-sprite header */
.link {
  display: flex;
  align-items: center;
  fill: var(--secondary-text-color);
}
.link:hover,
.link:focus {
  fill: var(--accent-color);
}
.icon-envelope {
  width: 16px;
  height: 12px;
  fill: currentColor;
  margin-right: 10px;
}
.icon-smartphone {
  width: 10px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
/* SVG-sprite benefits */
.container-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.icon-antenna {
  width: 70px;
  height: 70px;
  fill: inherit;
}
.icon-clock {
  width: 70px;
  height: 70px;
  fill: inherit;
}
.icon-diagram {
  width: 70px;
  height: 70px;
  fill: inherit;
}
.icon-astronaut {
  width: 70px;
  height: 70px;
  fill: inherit;
}

/* SVG-sprite our team */
.team-network {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-social {
  color: var(--primaty-icon-color);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}
.link-social:hover,
.link-social:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.social-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* SVG-sprite clients */

.icon-clients {
  color: var(--primaty-icon-color);
  border: 1px solid var(--primaty-icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.icon-clients:hover,
.icon-clients:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.icon-company {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
/* SVG-icon follow */
.follow-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white-color);
  background-color: var(--primary-bg-icon);
  margin-right: 10px;
}

.follow-icon:hover,
.follow-icon:focus {
  background-color: var(--accent-color);
}
.network-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}
.follow-container {
  margin-left: 70px;
}

/* Portfolio */
/* Кнопки */
.section-margin > .blue-button + .blue-button {
  margin-left: 8px;
}

.colour-button {
  color: var(--primary-text-color);
  background-color: var(--button-color);

  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: var(--button-color);

  display: inline-block;
  border-color: transparent;
  cursor: pointer;
}
.blue-button .link:hover,
.blue-button .link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секция Галерея */

.main-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-flex > .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}
.main-flex > .item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.main-flex > .item:nth-child(3n) {
  margin-right: 0;
}
.main-flex > .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.heading-title {
  color: var(--primary-text-color);

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}
.text-title {
  color: var(--secondary-text-color);

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
.main-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.section-padding {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-margin {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
